.Dialogs {
  display: grid;
  grid-area: c;
  grid-template-columns: 2fr 10fr;
  background-color: cornflowerblue;
}

.DialogsItems {
  padding: .5rem;
}

.DialogsItems .Active {
  color: gold;
}

.Messages {
  padding: .5rem;
}

.Items img {
  margin-left: .5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
